<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Quiz Score</title>
</head>

<body>
    <h1>Quiz Score</h1>
    <p>You scored <%= score %> out of 5.</p>
</body>

</html>